In [19]:
l=[[1,2,"mouni","hello"],["hii",23,"huughh"]]
print(l[0][3])
print(l[1][1])

hello
23

In [1]:
l=[1,2,45,19,18]
min=l[0]
for i in l:
    if(i<min):
        min=l[i]
print(min)

1

In [1]:
list=[1,2,5,34.67]
sorted_lst = sorted(list, reverse=True)
print(sorted_lst)

[34.67, 5, 2, 1]

In [22]:
def function(**kwargs):
    """this is used with keyword arguments"""
    print(kwargs)
    print(function.__doc__)
function(hello="monee",monee="kya karthi haiii")

{'hello': 'monee', 'monee': 'kya karthi haiii'}
this is used with keyword arguments

In [5]:
def f2():
    def f1():
        print("this is function inside a function")
    f1()
f2()

this is function inside a function

In [7]:
z=lambda x,y:x*y
print(z(12,10))

120

In [11]:
def fact(n):
    if(n<=1):
        return n
    else:
        return n*fact(n-1)
print(fact(7))

5040

In [14]:
s="good morning"
def f1():
    global s
    s+="hello"
    print(s)
f1()

good morninghello

In [39]:
file="hello.txt"
with open(file, 'w') as f:
    f.write("hi\nhello\nmaplelabs\nwelcome")

In [41]:
f=open(file,"r")
for i in f.readlines():
    print(i)

hi

hello

maplelabs

welcome

In [293]:
with open("file2.txt","w") as f:
    f.write("2024-08-25 10:15:23 INFO Starting the application\n2024-08-25 10:16:45 WARN Low memory warning\n2024-08-25 10:17:10 ERROR Unable to connect to database\n2024-08-25 10:20:00 INFO Application shutdown\n2024-08-25 10:21:30 INFO Backup completed successfully\n")

In [294]:
f=open("file2.txt","r")
count=0
count_char=0
x=f.readlines()
for i in x:
    count+=1
    print(count,".",i,len(i),len(i.split()))
print("total number of lines:",count)

1 . 2024-08-25 10:15:23 INFO Starting the application
 50 6
2 . 2024-08-25 10:16:45 WARN Low memory warning
 44 6
3 . 2024-08-25 10:17:10 ERROR Unable to connect to database
 56 8
4 . 2024-08-25 10:20:00 INFO Application shutdown
 46 5
5 . 2024-08-25 10:21:30 INFO Backup completed successfully
 55 6
total number of lines: 5

In [295]:
for i in x:
    z=i.split()
    print(z[1])

10:15:23
10:16:45
10:17:10
10:20:00
10:21:30

In [303]:
timestamp=[]
error=[]
dict={}
for i in x:
    z=i.split()
    timestamp.append(z[1])
    error.append(" ".join(z[3:]))
for i in range(len(timestamp)):
    dict[timestamp[i]]=error[i]
print(dict)

{'10:15:23': 'Starting the application', '10:16:45': 'Low memory warning', '10:17:10': 'Unable to connect to database', '10:20:00': 'Application shutdown', '10:21:30': 'Backup completed successfully'}

In [305]:
ns="10:17:10"
print(dict[ns])

Unable to connect to database

In [1]:
n=9
for i in range(n):
    for j in range(n):
        if(j==0 or j==n-1):
            print("*",end=" ")
        elif(i<=n//2 and j==i or i<=n//2 and i+j==n-1):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*               *
* *           * *
*   *       *   *
*     *   *     *
*       *       *
*               *
*               *
*               *
*               *

In [3]:
n=int(input("enter a number"))
for i in range(1, n+1):
    print(" "* (n-i) + "*"* (2*i-1))

enter a number 6

     *
    ***
   *****
  *******
 *********
***********

In [5]:
import datetime
month=int(input("enter a month"))
year=int(input("entera year"))
dt=datetime.date(year,month,13)
dday=dt.weekday()
if(dday==4):
    print("true")
else:
    print("false")

enter a month 4
entera year 2024

false

In [10]:
data={"car":{"name":"swift","year":"2020","color":["white","black"],"bus":{"name":"volvo","year":"2010","color":{"white":"brown"}}}}

In [11]:
data["car"]["truck"]={"name":"mouni","year":2021,"color":[]}
print(data)

{'car': {'name': 'swift', 'year': '2020', 'color': ['white', 'black'], 'bus': {'name': 'volvo', 'year': '2010', 'color': {'white': 'brown'}}, 'truck': {'name': 'mouni', 'year': 2021, 'color': []}}}

In [12]:
data["car"]["truck"]["color"]=["pink","white"]
print(data)

{'car': {'name': 'swift', 'year': '2020', 'color': ['white', 'black'], 'bus': {'name': 'volvo', 'year': '2010', 'color': {'white': 'brown'}}, 'truck': {'name': 'mouni', 'year': 2021, 'color': ['pink', 'white']}}}

In [13]:
name=["swift","zen","baleno"]
model=["2001","2002","2013"]
d=dict(zip(name,model))
print(d)

{'swift': '2001', 'zen': '2002', 'baleno': '2013'}

In [14]:
name=["swift","zen","baleno"]
model=["2001","2002","2013"]
dict={}
for i in range(len(name)):
    dict[name[i]]=model[i]
print(dict)

{'swift': '2001', 'zen': '2002', 'baleno': '2013'}

In [15]:
def sum1(a):
    s = 0
    if type(a)==int:
        s+=a
    elif type(a) == dict:
        for i in a.values():
            s+=sum1(i)
    return s
        
mixed_dict = {
    "key1": 5,
    "key2": {"key3": 3, "key4": {"key5": 7, "key6": 10}},
    "key7": 2,
}
print(sum1(mixed_dict))

0

In [7]:
di = {
'A': {'B': 4, 'C': 10},
 'D': {'E': 6, 'F': {'G': 12, 'H': 3}}, 
'I':7
}
def dele(di):
    keys=list(di.keys())
    for key in keys:
        value=di[key]
        if(type(value) == int):
            if(value<=5):
                del di[key]
        else:
            del(value)
    print(di)
dele(di)

{'A': {'B': 4, 'C': 10}, 'D': {'E': 6, 'F': {'G': 12, 'H': 3}}, 'I': 7}

In [8]:
mixed_dict = {
    "key1": 5,
    "key2": 4,          
    "key7": 2,
}
sum=0
for key,value in mixed_dict.items():
    sum+=value
print(sum)

11

In [9]:
d1 = {'A': {'w': '1', 'x': '2'}, 'B': {'y': '4'}, 'C': {'z': '5'}}
d2 = {'A': {'w': '4', 'x': '3'}, 'B': {'y': '1'}, 'C': {'z': '0'}}

d3 = {}

for i in d1:
    d3[i] = {}
    for j in d1[i]:
        d3[i][j] = str(int(d1[i][j]) + int(d2[i][j]))

print(d3)

{'A': {'w': '5', 'x': '5'}, 'B': {'y': '5'}, 'C': {'z': '5'}}